
.center-800 {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

form {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.recommendation {
  border: 1px solid grey;
  min-height: 30px;
}
