
.center-800 {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

form {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.recommendations {
  border: 1px solid grey;
  min-height: 30px;
  overflow: scroll;
}

.recP {
  margin-bottom: 0;
}

.subP {
  margin-top: 5px;
  color: grey;
}
